<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <!--<healthMonitoring>
    <bufferModes>
      <add name="Criticanl Notification" maxBufferSize="100" maxFlushSize="20" urgentFlushThreshold="1"
           regularFlushInterval="Infinite" urgentFlushInterval="00:01:00" maxBufferThreads="1"/>
      <add name="Logging" maxBufferSize="1000" maxFlushSize="200" urgentFlushThreshold="800" 
           regularFlushInterval="00:30:00" urgentFlushInterval="00:05:00" maxBufferThreads="1" />
    </bufferModes>
    <providers>
      <add name="EventLogProvider" type="System.Web.Management.EventLogWebEventProvider, System.Web" />
    </providers>
    <profiles>
      <add name="Default" minInstances="1" maxLimit="Infinite"
           minInterval="00:01:00" custom="" />
      <add name="Critical" minInstances="1" maxLimit="Infinite"
           minInterval="00:00:00" custom="" />
    </profiles>
    <rules>
      <add name="All Errors Default" eventName="All Events"
           provider="EventLogProvider" profile="Default" minInstances="1"
           maxLimit="Infinite" minInterval="00:01:00" custom="" />
      <add name="Failure Audits Default" eventName="App Lifetime Events"
           provider="EventLogProvider" profile="Default" minInstances="1"
           maxLimit="Infinite" minInterval="00:01:00" custom="" />
    </rules>
    <eventMappings>
      <add name="All Events" type="System.Web.Management.WebBaseEvent,System.Web"
           startEventCode="0" endEventCode="2147483647" />
      <add name="Heartbeats" startEventCode="0" endEventCode="2147483647"
           type="System.Web.Management.WebHeartbeatEvent,System.Web" />
      <add name="App Lifetime Events" startEventCode="0" endEventCode="2147483647"
           type="System.Web.Management.WebApplicationLifetimeEvent, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a " />
    </eventMappings>
  </healthMonitoring>-->

  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.2.4.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing" />
        <add namespace="Aspnet.UI" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>

  <appSettings>
    <add key="webpages:Enabled" value="false" />
  </appSettings>

  <system.webServer>
    <handlers>
      <remove name="BlockViewHandler"/>
      <add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
    </handlers>
  </system.webServer>

  <system.web>
    <compilation>
      <assemblies>
        <add assembly="System.Web.Mvc, Version=5.2.4.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
  </system.web>
</configuration>
